### Importation des bibliothèques nécessaires

In [4]:
# Bibliothèques pour la manipulation des données
import pandas as pd
import numpy as np

**Lecture du dataset et création d'un nouveau dataset**

In [5]:
# help(pd.read_csv)

In [6]:
# Afficher la documentation d'une fonction de façon plus conviviale
# ?pd.read_csv

In [7]:
# Lecture du dataset et affichage de 5 premières et 5 dernières lignes
df_students_perf = pd.read_csv("Student_performance_data _.csv")
df_students_perf

,StudentID,Age,Gender,Ethnicity,ParentalEducation,StudyTimeWeekly,Absences,Tutoring,ParentalSupport,Extracurricular,Sports,Music,Volunteering,GPA,GradeClass
0,1001,17,1,0,2,19.833723,7,1,2,0,0,1,0,2.929196,2.0
1,1002,18,0,0,1,15.408756,0,0,1,0,0,0,0,3.042915,1.0
2,1003,15,0,2,3,4.210570,26,0,2,0,0,0,0,0.112602,4.0
3,1004,17,1,0,3,10.028829,14,0,3,1,0,0,0,2.054218,3.0
4,1005,17,1,0,2,4.672495,17,1,3,0,0,0,0,1.288061,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2387,3388,18,1,0,3,10.680555,2,0,4,1,0,0,0,3.455509,0.0
2388,3389,17,0,0,1,7.583217,4,1,4,0,1,0,0,3.279150,4.0
2389,3390,16,1,0,2,6.805500,20,0,2,0,0,0,1,1.142333,2.0
2390,3391,16,1,1,0,12.416653,17,0,2,0,1,1,0,1.803297,1.0
2391,3392,16,1,0,2,17.819907,13,0,2,0,0,0,1,2.140014,1.0

In [21]:
df_students_perf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2392 entries, 0 to 2391
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   StudentID          2392 non-null   int64
 1   Age                2392 non-null   int64
 2   Gender             2392 non-null   int64
 3   Ethnicity          2392 non-null   int64
 4   ParentalEducation  2392 non-null   int64
 5   StudyTimeWeekly    2392 non-null   float64
 6   Absences           2392 non-null   int64
 7   Tutoring           2392 non-null   int64
 8   ParentalSupport    2392 non-null   int64
 9   Extracurricular    2392 non-null   int64
 10  Sports             2392 non-null   int64
 11  Music              2392 non-null   int64
 12  Volunteering       2392 non-null   int64
 13  GPA                2392 non-null   float64
 14  GradeClass         2392 non-null   float64
dtypes: float64(3), int64(12)
memory usage: 280.4 KB

In [8]:
# Afficher le type de la colonne *** Afficher les types de données des valeurs que contienne la colonne
type(df_students_perf.Ethnicity), " *** ", df_students_perf.Ethnicity.dtypes

(pandas.core.series.Series, ' *** ', dtype('int64'))

**Ecrire des fonctions qui vont permettre de modifier certaines colonnes. Une fonction par tâche (par colonne).**

In [11]:
%config IPCompleter.greedy=True

In [30]:
# Fonction pour modifier la colonne "Ethnicity" en string
# Ethnicity strings values {0: Caucasian, 1: African American, 2: Asian, 3: Other}
# def update_ethnicity_to_string(column : int) -> str:
#     """Function to update the integer values to string

#     Args:
#         column: the column that contains all the values they are updated to string

#     Returns:
#         str: the all values updated
#     """
#     if column == 0:
#         return "Caucasian"
#     elif column == 1:
#         return "African_American"
#     elif column == 2:
#         return "Asian"
#     return "Other"

# ---------------
# Fonction pour modifier la colonne "GradeClass" en string
def update_grade_class_to_string(column : float) -> str:
    """Function to update the GradeClass to the string characters

    Args:
        column: the column that contains all the values they are updated to string

    Return:
        str: the all values updated
    """
    if column >= 3.5:
        return "A"
    elif (column >= 3.0) & (column < 3.5):
        return "B"
    elif (column >= 2.5) & (column < 3.0):
        return "C"
    elif (column >= 2.0) & (column < 2.5):
        return "D"
    return "F"

In [22]:
# Un dictionnaire pour chaque colonne
gender_dict = {0: "Male", 1: "Female"}
ethnicity_dict = {0: "Caucasian", 1: "African_American", 2: "Asian", 3: "Other"}
parental_educ_dict = {0: None, 1: "High_School", 2: "Some_College", 3: "Bachelor's", 4: "Higer"}
tutoring_dict = {0: "No", 1: "Yes"}
parental_support_dict = {0: None, 1: "Low", 2: "Moderate", 3: "High", 4: "Very_High"}
extra_curricular_dict = {0: "No", 1: "Yes"}
sports_dict = {0: "No", 1: "Yes"}
music_dict = {0: "No", 1: "Yes"}
volunteering_dict = {0: "No", 1: "Yes"}
# Première approche pour modifier les colonnes. Ex: 
# df_students_perf["Ethnicity"] = df_students_perf["Ethnicity"].replace(ethnicity_dict)
# Deuxième approche avec une fonction 
# _studdf_students_perf["Ethnicity"] = df_students_perf["Ethnicity"].apply(update_ethnicity_to_string)

0              Caucasian
1              Caucasian
2                  Asian
3              Caucasian
4              Caucasian
              ...
2387           Caucasian
2388           Caucasian
2389           Caucasian
2390    African_American
2391           Caucasian
Name: Ethnicity, Length: 2392, dtype: object

In [24]:
# Remplacer directement les valeurs de la colonne cible dans le dataframe. Ecraser les anciennes valeurs des colonnes
# Pour Ethnicity
df_students_perf.replace({"Ethnicity" : ethnicity_dict}, inplace=True)
# Pour Gender
df_students_perf.replace({"Gender" : gender_dict}, inplace=True)
# Pour ParentalEducation
df_students_perf.replace({"ParentalEducation" : parental_educ_dict}, inplace=True)
# Pour Tutoring
df_students_perf.replace({"Tutoring" : tutoring_dict}, inplace=True)
# Pour ParentalSupport
df_students_perf.replace({"ParentalSupport" : parental_support_dict}, inplace=True)
# Pour Extracurricular
df_students_perf.replace({"Extracurricular" : extra_curricular_dict}, inplace=True)
# Pour Sports
df_students_perf.replace({"Sports" : sports_dict}, inplace=True)
# Pour Music
df_students_perf.replace({"Music" : music_dict}, inplace=True)
# Pour Volunteering
df_students_perf.replace({"Volunteering" : volunteering_dict}, inplace=True)

In [25]:
df_students_perf

,StudentID,Age,Gender,Ethnicity,ParentalEducation,StudyTimeWeekly,Absences,Tutoring,ParentalSupport,Extracurricular,Sports,Music,Volunteering,GPA,GradeClass
0,1001,17,Female,Caucasian,Some_College,19.833723,7,Yes,Moderate,No,No,Yes,No,2.929196,2.0
1,1002,18,Male,Caucasian,High_School,15.408756,0,No,Low,No,No,No,No,3.042915,1.0
2,1003,15,Male,Asian,Bachelor's,4.210570,26,No,Moderate,No,No,No,No,0.112602,4.0
3,1004,17,Female,Caucasian,Bachelor's,10.028829,14,No,High,Yes,No,No,No,2.054218,3.0
4,1005,17,Female,Caucasian,Some_College,4.672495,17,Yes,High,No,No,No,No,1.288061,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2387,3388,18,Female,Caucasian,Bachelor's,10.680555,2,No,Very_High,Yes,No,No,No,3.455509,0.0
2388,3389,17,Male,Caucasian,High_School,7.583217,4,Yes,Very_High,No,Yes,No,No,3.279150,4.0
2389,3390,16,Female,Caucasian,Some_College,6.805500,20,No,Moderate,No,No,No,Yes,1.142333,2.0
2390,3391,16,Female,African_American,None,12.416653,17,No,Moderate,No,Yes,Yes,No,1.803297,1.0
2391,3392,16,Female,Caucasian,Some_College,17.819907,13,No,Moderate,No,No,No,Yes,2.140014,1.0

In [34]:
df_students_perf["GradeClass"] = df_students_perf["GPA"].apply(update_grade_class_to_string)
df_students_perf

,StudentID,Age,Gender,Ethnicity,ParentalEducation,StudyTimeWeekly,Absences,Tutoring,ParentalSupport,Extracurricular,Sports,Music,Volunteering,GPA,GradeClass
0,1001,17,Female,Caucasian,Some_College,19.833723,7,Yes,Moderate,No,No,Yes,No,2.929196,C
1,1002,18,Male,Caucasian,High_School,15.408756,0,No,Low,No,No,No,No,3.042915,B
2,1003,15,Male,Asian,Bachelor's,4.210570,26,No,Moderate,No,No,No,No,0.112602,F
3,1004,17,Female,Caucasian,Bachelor's,10.028829,14,No,High,Yes,No,No,No,2.054218,D
4,1005,17,Female,Caucasian,Some_College,4.672495,17,Yes,High,No,No,No,No,1.288061,F
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2387,3388,18,Female,Caucasian,Bachelor's,10.680555,2,No,Very_High,Yes,No,No,No,3.455509,B
2388,3389,17,Male,Caucasian,High_School,7.583217,4,Yes,Very_High,No,Yes,No,No,3.279150,B
2389,3390,16,Female,Caucasian,Some_College,6.805500,20,No,Moderate,No,No,No,Yes,1.142333,F
2390,3391,16,Female,African_American,None,12.416653,17,No,Moderate,No,Yes,Yes,No,1.803297,F
2391,3392,16,Female,Caucasian,Some_College,17.819907,13,No,Moderate,No,No,No,Yes,2.140014,D

In [35]:
# df_students_perf.to_csv("Students_performance_data_new.csv", index=False)